Source: python-lsbinit
Section: python
Priority: optional
Maintainer: David Taylor <djtaylor13@gmail.com>
Build-Depends: debhelper (>= 9),
               python (>= 2.7),
               python3 (>= 3.3),
               python-setuptools (>= 3.3),
               python3-setuptools (>= 3.3),
               python-wheel (>= 0.24.0),
               python3-wheel (>= 0.24.0),
Standards-Version: 3.9.5
Homepage: https://github.com/djtaylor/python-lsbinit
Vcs-Git: git://github.com/djtaylor/python-lsbinit.git
Vcs-Browser: https://github.com/djtaylor/python-lsbinit
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.3

Package: python-lsbinit
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: A pure Python module used to handle system init scripts.

Package: python3-lsbinit
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: A pure Python module used to handle system init scripts.

Package: python-lsbinit-whl
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: A pure Python module used to handle system init scripts.